/* WRAPPER */
#wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 50%;
    height: 500px;
    border: 1px solid blue;
}

/* VIEW HIGHSCORES */
#hscore {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

#text {
    font-size: 20px;
    text-align: center;
}

p {
    text-align: center;
}

/* START QUIZ BUTTON */
#startTime {
    background-color: blue;
    display: flex;
    justify-content: center;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    margin: auto;
}

/* QUESTIONS */
#questionsDiv {
    margin: 20px;
    font-size: 25px;
}

/* GO BACK BUTTON */
#goBack {
    background-color: blue;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

/* CLEAR BUTTON */
#clear {
    background-color: blue;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

/* SUBMIT BUTTON */
#Submit {
    background-color: blue;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

/* VIEW HIGHSCORE PAGE START */
label {
    display: flex;
    justify-content: center;
}

input {
    margin-bottom: 20px;
    margin-left: 23%;
    width: 50%;
    border: 1px solid lightgray;
}
/* VIEW HIGHSCORE PAGE END */

h1 {
    text-align: center;
}

li {
    background-color: blue;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 20px;
    color: white;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    #wrapper {
        width: 100%;
    }
  }
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    #wrapper {
        width: 100%;
    }

    #hscore {
        font-size: 20px;
    }
        
  }
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    #wrapper {
        width: 100%;
    }

    #hscore {
        font-size: 20px;
    }
  }